<settings>
	<setting propertyKey="@Properties.currency" title="@Strings.currency">
		<settingConfig type="list">
			<listEntry value="0">@Strings.USD</listEntry>
			<listEntry value="1">@Strings.EUR</listEntry>
			<listEntry value="2">@Strings.CNY</listEntry>
			<listEntry value="3">@Strings.GBP</listEntry>
			<listEntry value="4">@Strings.CAD</listEntry>
			<listEntry value="5">@Strings.ZAR</listEntry>
			<listEntry value="6">@Strings.PLN</listEntry>
			<listEntry value="7">@Strings.AUD</listEntry>
		</settingConfig>
	</setting>

</settings>